apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - pocketid.yaml
  - httproute.yaml
  - pvc.yaml
  - sealedsecret.yaml
  - rbac.yaml
  - securitypolicy.yaml

images:
  - name: pocketid
    newName: ghcr.io/pocket-id/pocket-id
    newTag: v1.15.0
