apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - kargo.yaml
  - httproute.yaml
  - sealedsecret.yaml
  - helm-render.yaml
  - helm-update.yaml
  - update-image.yaml
  - staging-helm.yaml
  - argocd-sync.yaml
  - promote-branch-with-approval.yaml
  - update-source-main.yaml
  - render-and-pr-helm.yaml
  - git-ops-clone.yaml
  - git-ops-commit-pr.yaml
  - helm-update-single-chart.yaml
  - yaml-update-single-value.yaml
  - global-credentials-rolebinding.yaml
  - projects

images:
  - name: kargo
    newName: ghcr.io/akuity/kargo
    newTag: v1.8.0
