apiVersion: kargo.akuity.io/v1alpha1
kind: ClusterPromotionTask
metadata:
  name: render-single-app
spec:
  vars:
    - name: projectType
    - name: appName
    - name: chartPath
    - name: valuesFile
    - name: namespace
    - name: includeCRDs
  steps:
    - uses: helm-template
      as: render-manifest
      config:
        path: ./source/${{ vars.chartPath }}
        valuesFiles:
          - ./source/${{ vars.valuesFile }}
        namespace: ${{ vars.namespace }}
        releaseName: ${{ vars.appName }}
        outPath: ./target/${{ vars.projectType }}/${{ vars.appName }}/manifest.yaml
        includeCRDs: ${{ vars.includeCRDs }}
