apiVersion: kargo.akuity.io/v1alpha1
kind: ClusterPromotionTask
metadata:
  name: render-homelab
spec:
  vars:
    - name: gitRepo
      value: https://github.com/kdwils/homelab
    - name: sourceBranch
      value: main
    - name: targetBranch
      value: homelab
  steps:
    - uses: git-clone
      as: clone-repos
      config:
        repoURL: ${{ vars.gitRepo }}
        checkout:
          - branch: ${{ vars.sourceBranch }}
            path: ./source
          - branch: ${{ vars.targetBranch }}
            path: ./target
    - uses: helm-template
      as: render-mealie
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/apps/mealie/environments/homelab/homelab.yaml
        namespace: mealie
        releaseName: mealie
        outPath: ./target/apps/mealie/manifest.yaml
    - uses: helm-template
      as: render-rss
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/apps/rss/environments/homelab/homelab.yaml
        namespace: rss
        releaseName: rss
        outPath: ./target/apps/rss/manifest.yaml
    - uses: helm-template
      as: render-bluesky
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/apps/bluesky/environments/homelab/homelab.yaml
        namespace: bluesky
        releaseName: bluesky
        outPath: ./target/apps/bluesky/manifest.yaml
    - uses: helm-template
      as: render-pocketid
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/apps/pocketid/environments/homelab/homelab.yaml
        namespace: pocketid
        releaseName: pocketid
        outPath: ./target/apps/pocketid/manifest.yaml
    # - uses: helm-template
    #   as: render-excalidraw
    #   config:
    #     path: ./source/charts/homelab
    #     valuesFiles:
    #       - ./source/apps/excalidraw/environments/homelab/homelab.yaml
    #     namespace: excalidraw
    #     releaseName: excalidraw
    #     outPath: ./target/apps/excalidraw/manifest.yaml
    - uses: helm-template
      as: render-overseerr
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/media/overseerr/environments/homelab/homelab.yaml
        namespace: overseerr
        releaseName: overseerr
        outPath: ./target/media/overseerr/manifest.yaml
    - uses: helm-template
      as: render-prowlarr
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/media/prowlarr/environments/homelab/homelab.yaml
        namespace: prowlarr
        releaseName: prowlarr
        outPath: ./target/media/prowlarr/manifest.yaml
    - uses: helm-template
      as: render-bazarr
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/media/bazarr/environments/homelab/homelab.yaml
        namespace: bazarr
        releaseName: bazarr
        outPath: ./target/media/bazarr/manifest.yaml
    - uses: helm-template
      as: render-radarr
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/media/radarr/environments/homelab/homelab.yaml
        namespace: radarr
        releaseName: radarr
        outPath: ./target/media/radarr/manifest.yaml
    - uses: helm-template
      as: render-sonarr
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/media/sonarr/environments/homelab/homelab.yaml
        namespace: sonarr
        releaseName: sonarr
        outPath: ./target/media/sonarr/manifest.yaml
    # - uses: helm-template
    #   as: render-hoarder
    #   config:
    #     path: ./source/charts/homelab
    #     valuesFiles:
    #       - ./source/apps/hoarder/environments/homelab/homelab.yaml
    #     namespace: hoarder
    #     releaseName: hoarder
    #     outPath: ./target/apps/hoarder/manifest.yaml
    - uses: helm-template
      as: render-events
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/apps/events/environments/homelab/homelab.yaml
        namespace: events
        releaseName: events
        outPath: ./target/apps/events/manifest.yaml
    - uses: helm-template
      as: render-blog-dev
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/apps/blog/environments/dev/homelab.yaml
        namespace: blog-dev
        releaseName: blog-dev
        outPath: ./target/apps/blog-dev/manifest.yaml
    - uses: helm-template
      as: render-blog-prod
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/apps/blog/environments/prod/homelab.yaml
        namespace: blog-prod
        releaseName: blog-prod
        outPath: ./target/apps/blog-prod/manifest.yaml
    - uses: helm-template
      as: render-nats
      config:
        path: ./source/charts/nats
        valuesFiles:
          - ./source/apps/nats/environments/homelab/nats.yaml
        namespace: nats
        releaseName: nats
        outPath: ./target/apps/nats/manifest.yaml
        includeCRDs: "true"
    - uses: helm-template
      as: render-cloudflared
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/infra/cloudflared/environments/homelab/homelab.yaml
        namespace: cloudflared
        releaseName: cloudflared
        outPath: ./target/infra/cloudflared/manifest.yaml
    - uses: helm-template
      as: render-longhorn
      config:
        path: ./source/charts/longhorn
        valuesFiles:
          - ./source/infra/longhorn/environments/homelab/homelab.yaml
        namespace: longhorn-system
        releaseName: longhorn
        outPath: ./target/infra/longhorn/manifest.yaml
        includeCRDs: "true"
    - uses: helm-template
      as: render-sealedsecrets
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/infra/sealedsecrets/environments/homelab/homelab.yaml
        namespace: kube-system
        releaseName: sealedsecrets
        outPath: ./target/infra/sealedsecrets/manifest.yaml
    - uses: helm-template
      as: render-tailscale
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/infra/tailscale/environments/homelab/homelab.yaml
        namespace: tailscale
        releaseName: tailscale
        outPath: ./target/infra/tailscale/manifest.yaml
    - uses: helm-template
      as: render-byparr
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/media/byparr/environments/homelab/homelab.yaml
        namespace: byparr
        releaseName: byparr
        outPath: ./target/media/byparr/manifest.yaml
    - uses: helm-template
      as: render-plex
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/media/plex/environments/homelab/homelab.yaml
        namespace: plex
        releaseName: plex
        outPath: ./target/media/plex/manifest.yaml
    - uses: helm-template
      as: render-envoy-proxy-bouncer
      config:
        path: ./source/charts/envoy-proxy-bouncer
        valuesFiles:
          - ./source/monitoring/envoy-proxy-bouncer/environments/homelab/homelab.yaml
        namespace: envoy-gateway-system
        releaseName: envoy-proxy-bouncer
        outPath: ./target/monitoring/envoy-proxy-bouncer/manifest.yaml
    - uses: helm-template
      as: render-envoy-proxy-gatekeeper
      config:
        path: ./source/charts/homelab
        valuesFiles:
          - ./source/monitoring/envoy-proxy-gatekeeper/environments/homelab/homelab.yaml
        namespace: envoy-gateway-system
        releaseName: envoy-proxy-gatekeeper
        outPath: ./target/monitoring/envoy-proxy-gatekeeper/manifest.yaml
    - uses: git-commit
      as: commit-all
      config:
        path: ./target
        message: |
          Render all apps to homelab
    - uses: git-push
      as: push-changes
      config:
        path: ./target
        generateTargetBranch: true
    - uses: git-open-pr
      as: create-pr
      continueOnError: false
      config:
        repoURL: ${{ vars.gitRepo }}
        sourceBranch: ${{ task.outputs['push-changes'].branch }}
        targetBranch: ${{ vars.targetBranch }}
        createTargetBranch: false
        title: "Deploy all apps to homelab"
    - uses: git-wait-for-pr
      as: wait-approval
      config:
        repoURL: ${{ vars.gitRepo }}
        prNumber: ${{ task.outputs['create-pr'].pr.id }}
