apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - httproute.yaml
  - hoarder.yaml
  - sealedsecret.yaml
  - meilisearch.yaml

images:
  - name: hoarder
    newName: ghcr.io/karakeep-app/karakeep
    newTag: 0.29.1
  - name: meilisearch
    newName: getmeili/meilisearch
    newTag: v1.24.0
  - name: chrome
    newName: gcr.io/zenika-hub/alpine-chrome
    newTag: "123"
