apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - httproute.yaml
  - namespace.yaml
  - securitypolicy.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/v3.2.3/manifests/install.yaml

namespace: argocd

patches:
  - target:
      group: ""
      version: v1
      kind: ConfigMap
      name: argocd-cm
    path: argocd-cm-patch.yaml
  - target:
      group: ""
      version: v1
      kind: ConfigMap
      name: argocd-rbac-cm
    path: argocd-rbac-cm-patch.yaml
  - target:
      group: ""
      version: v1
      kind: ConfigMap
      name: argocd-cmd-params-cm
    path: argocd-cmd-params-cm-patch.yaml
